[Unit]
Description=Sync emacs-china elpa repos with rsync every 30 mins
Documentation=http://elpa.emacs-china.org/

[Timer]
OnBootSec=15min
OnUnitInactiveSec=30min
Unit=rsync_emacs_china.service
[X-ignore]
OnCalendar=
Persistent=


[Install]
WantedBy=multi-user.target
